@charset "utf-8";

body {background-color: black;}


#slider{width:100%; height:937px; position:relative;}
.slide_l {width: 50%; height: 937x; margin: 0px auto; float:left;}
.slide_l img {width:864px; height:937px;}

.slide_r {width: 600px; height:937px; margin: 0px auto; float:right; position:absolute;}
.r_content {background-color:beige;}

